/*.gallery
{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery .image-container
{
    background-color: #444444;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-self: flex-start;

    padding: 4pt;

    margin-bottom: 8pt;
}

.gallery .gallery-image
{
    display: flex;
}

.gallery .image-container img
{
    width: 100%;
}

.gallery .image-container .gallery-description
{
    display: flex;
    text-align: center;
}

/* Basic system of scaling down the gallery based on level of details depending on horizontal resolution */

/*@media screen and (max-width: 479px)
{
    .gallery .image-container
    {
        flex: 0 0 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px)
{
    .gallery .image-container
    {
        flex: 0 0 45%;
    }
}

@media screen and (min-width: 768px) {
    .gallery .image-container
    {
        font-size: 24pt;
        flex: 0 0 30%;
    }
}*/

.gallery-item
{
    display: flex;
    
}

@media (prefers-color-scheme: dark) {
    .gallery-description
    {
        background-color: #333333;
    }
}

@media (prefers-color-scheme: light) {
    .gallery-description
    {
        background-color: white;
    }
}


@media screen and (max-width: 767px)
{
    .gallery-item
    {
        flex-direction: column;
    }
    .gallery-item img, .gallery-item .gallery-description
    {
        width: 100%;
    }
}


@media screen and (min-width: 768px) {

    .gallery-item.gallery-left
    {
        flex-direction: row;
    }
    .gallery-item.gallery-right
    {
        flex-direction: row-reverse;
    }
    .gallery-item img, .gallery-item .gallery-description
    {
        width: 50%;
    }

    .gallery-item .gallery-description
    {
        padding: 12pt;
    }
}
