@media (prefers-color-scheme: dark) {
    article
    {
        background-color: #333333;
    }
}

@media (prefers-color-scheme: light) {
    article
    {
        background-color: white;
    }
}

article
{
    display: flex;
    flex-direction: column;
    flex:1;

    border-style: solid;
    border-color: grey;
}

@media screen and (max-width: 767px) {
    article
    {
        width:100%;

        margin-top: 52pt;
        border-width: 0px;
        border-bottom-width: 1px;
    }
}

@media screen and (max-width: 360px)
{
    article
    {
        margin-top: 28pt;
    }    
}

@media screen and (min-width: 768px) {
    article
    {
        margin-top: 72pt;
        width:80%;
        border-width: 1px;

    }
}

article div.main-article
{
    padding: 12pt;
}

