@media screen and (max-width: 767px) {
    header
    {
        font-size: 12pt;
    }

    header .header-menu, header .header-icon
    {
        padding: 0 12pt;
    }
}

@media screen and (min-width: 768px) {
    header
    {
        font-size: 24pt;
        margin-bottom: 12pt;
        box-shadow: 0px 0.125rem 0.75rem 0.5rem rgb(70 70 70 / 34%);
    }

    header .header-menu, header .header-icon
    {
        padding: 0 12pt;
    }

    header .link-button
    {
        padding-right: 6pt;
        padding-left: 6pt;

    }
}

@media (prefers-color-scheme: light) {
    header
    {
        background-color: white;
    }

    header a
    {
        color: black;
    }

    header a:hover
    {
        color: #4b4a4a;
    }

    header a:active
    {
        color: #b6b6b6;
    }

    header a:visited
    {
        color: rgb(0, 0, 0);
    }
}

@media (prefers-color-scheme: dark) {
    header
    {
        background-color: #333333;
    }

    header a
    {
        color: white;
    }

    header a:hover
    {
        color: #8b8b8b;
    }

    header a:active
    {
        color: #666666;
    }

    header a:visited
    {
        color: white;
    }
}

header 
{
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    width: 100%;

    /* Borders for the header */
    border-style: solid;
    border-width: 0px;
    border-bottom-color: grey;
    border-bottom-width: 1px;

    position: fixed; /* Prevents header from scrolling down */

    flex-wrap: wrap;


}

header a
{
    text-decoration: none;
}

@media screen and (max-width: 360px) { /* Worst case scenario for Samsung Galaxy Fold devices */
    .header-icon img
    {
        width: 32px;
        flex-shrink: 0;
    }
}
@media screen and (min-width: 361px) {
    .header-icon
    {
        width: auto;
        height: auto;
    }
}







