@media screen and (max-width: 767px) {
    header
    {
        font-size: 12pt;
        display: flex;
        flex-direction: column;
    }

    header .header-menu, header .header-icon
    {
        padding: 0 0pt;
    }

    header .header-menu
    {
        display: none;
    }

    header.responsive .header-menu
    {
        display: flex;
        flex-direction: column;
    }

    header.responsive .header-menu a, .header-dropdown-icon
    {
        padding-top: 12pt;
        padding-bottom: 12pt;
    }

    header.responsive .header-dropdown-icon
    {
        display: flex;
    }

    header.responsive .header-menu
    {
        width: 100%;

        border-style: solid;

        border-width: 0px;
        border-top-width: 1px;
    }

    .header-menu a
    {
        display: flex;
        width: 100%;

        justify-content: center;
        align-content: center;
    }
    
}

@media screen and (min-width: 768px) {
    header
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        font-size: 24pt;
        margin-bottom: 12pt;
    }

    header .header-menu, header .header-icon
    {
        padding: 0 12pt;
    }

    header .link-button
    {
        padding-right: 6pt;
        padding-left: 6pt;

    }

    .header-dropdown-icon
    {
        display: none;
    }
}

@media (prefers-color-scheme: light) {
    header
    {
        background-color: white;
    }

    header a
    {
        color: black;
    }

    header a:hover
    {
        color: #4b4a4a;
    }

    header a:active
    {
        color: #b6b6b6;
    }

    header a:visited
    {
        color: rgb(0, 0, 0);
    }
}

@media (prefers-color-scheme: dark) {
    header
    {
        background-color: #333333;
    }

    header a
    {
        color: white;
    }

    header a:hover
    {
        color: #8b8b8b;
    }

    header a:active
    {
        color: #666666;
    }

    header a:visited
    {
        color: white;
    }
}

header 
{
    display: flex;
    
    align-items: center;

    width: 100%;

    /* Borders for the header */
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;

    position: fixed; /* Prevents header from scrolling down */

    flex-wrap: wrap;

    box-shadow: 0px 0.125rem 0.75rem 0.5rem rgb(70 70 70 / 34%);

}

header a
{
    text-decoration: none;
}

@media screen and (max-width: 360px) { /* Worst case scenario for Samsung Galaxy Fold devices */
    .header-icon img
    {
        width: 32px;
        flex-shrink: 0;
    }
}
@media screen and (min-width: 361px) {
    .header-icon
    {
        width: auto;
        height: auto;
    }
}

header .mobile-header-menu
{
    display: flex;
    border-radius: 0px;
    border-style: none;
}






